.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.error-popup .MuiAlert-message {
    font-size: 1.1rem;
}